doctype html
html(lang="en")
  head
    title= title
  body#home.app(class=extraClasses)
    h1 Hello #{name}
    img(src=image alt="Bottle")
    input(type="checkbox" checked=isChecked disabled=false)
